.sum{
 margin-top: 25px;
 font-family: sans-serif;
 color :#da3333 ; 
}
.br{
    border: 3px solid black;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/955/69/70/minimalism-space-stars-wallpaper-1ec91453ff239d2070c1596c01e9b2e5.jpg');
}
.def{
    height: 1000px;
    width: auto;
}
.req{
    font-family: sans-serif;
 color :#da3333 ;
}
.fa{
    
    color: #da3333;
    font-size : 30px;
    
}
.g{
    color: #da3333;
}